.dropdown {
  position: relative;
  display: inline-block;
  &-toggle {
    &:after {
      content: '';
      margin-left: 15px;
      display: inline-block;
      vertical-align: 3px;
      border-top: 5px solid;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-bottom: 0;
    }
  }
  &-menu {
    position: absolute;
    list-style-type: none;
    top: 100%;
    left: 0;
    z-index: 999;
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    background-color: #fff;
    min-width: 100%;
    padding: 10px;
  }
  &-item {
    display: block;
    width: 100%;
    padding: 8px 10px;
    background-color: transparent;
    border: 0;
    // text-align: center;
    a {
      color: $dark;
      text-decoration: none;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
      border-radius: 2px;
    }
  }
}
